<!doctype html>
<html ng-app="OpenOT">
    <head>
        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->

        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

        <script src="bower_components/angular/angular.js"></script>
        <script src="scripts/angular/app.js"></script>
        <script src="scripts/angular/controller.js"></script>
    </head>
    <body ng-controller="GroupsCtrl">
        <div class="panel panel-default" ng-repeat="group in groups">
            <div class="panel-heading">{{ group.length }} Tabs</div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="tab in group" ng-click="openUrl($parent.$index, $index)">{{ tab.title }}</li>
                </ul>
            </div>
        </div>
    </body>
</html>
